@yel0: hsl(45.07,89.8%,68.8%);
@yel1: hsl(39.8,80.39%,30.42%);
@yel2: hsl(34.86,70.2%,24.45%);
@red0: hsl(349.94,70.2%,88.25%);
@red1: hsl(0,75%,46.49%);
@red2: hsl(10.24,80.39%,31.52%);
@pur0: hsl(300,60%,87.02%);
@pur1: hsl(310.24,80.39%,41.68%);
@pur2: hsl(320,100%,29.46%);
@blu0: hsl(190.2,60%,79.39%);
@blu1: hsl(200.2,80.39%,34.88%);
@blu2: hsl(210.12,100%,29.87%);
@cya0: hsl(160,60%,75.05%);
@cya1: hsl(170.05,80.39%,25.96%);
@cya2: hsl(180,100%,16.98%);
@grn0: hsl(70.24,80.39%,49.75%);
@grn1: hsl(85.3,89.84%,24.4%);
@grn2: hsl(100,100%,17.47%);
@base0: hsl(20,20%,91.78%);
@base1: hsl(47.14,16.54%,78.97%);
@base2: hsl(113.68,6.91%,40.07%);
@base3: hsl(192.86,16.41%,32.42%);
@base4: hsl(220,20%,25.73%);
